/* You can add global styles to this file, and also import other style files */
#menusito {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
.menusito-bg {
    background-color: #38383875 !important;
    opacity: 0.8;
  }